<div class="site-width">
  <h1>{{title}}!</h1>



  <ul class="favorites">
    <li>
      Favorites sites
      <ul>
        <li *ngFor="let item of sites">
          <app-favorite-item
            [item]="item.site.title"
            [iconName]="iconHome">
          </app-favorite-item>
        </li>
      </ul>
    </li>

    <li>
      Favorites files
      <ul>
        <li *ngFor="let item of file">
          <app-favorite-item
            [item]="item.file.name"
            [iconName]="iconFile">
          </app-favorite-item>
        </li>
      </ul>
    </li>

    <li>
      Favorites folders
      <ul>
        <li *ngFor="let item of folders">
          <app-favorite-item
            [item]="item.folder.name"
            [iconName]="iconFolder">
          </app-favorite-item>
        </li>
      </ul>
    </li>
  </ul>


</div>
