<div class="site-width">
  <h1>{{title}}!</h1>

  <ul class="favorites">
    <li>
      <span *ngIf="sites"> Favorites sites</span>
      <ul>
        <li *ngFor="let item of sites">
          <app-favorite-item
            [item]="item.site.title"
            [iconName]="iconHome">
          </app-favorite-item>
        </li>
      </ul>
    </li>

    <li>
      <span *ngIf="files"> Favorites files</span>
      <ul>
        <li *ngFor="let item of files">
          <app-favorite-item
            [item]="item.file.name"
            [iconName]="iconFile">
          </app-favorite-item>
        </li>
      </ul>
    </li>

    <li>
      <span *ngIf="folders"> Favorites folders</span>
      <ul>
        <li *ngFor="let item of folders">
          <app-favorite-item
            [item]="item.folder.name"
            [iconName]="iconFolder">
          </app-favorite-item>
        </li>
      </ul>
    </li>
  </ul>


</div>
